
@media(max-width:1485px){
    .main{
        flex-wrap: wrap-reverse;
        justify-content: center;
       
    }

    .cards{
       max-width: none;
        width: 100%;
        margin-top: 0px;
    }
    .urna-container{
      
        width: 100%;
        margin: 30px auto;
        
    }
}

@media (max-width:1130px){
    .urna-container{
        flex-direction: column;
        height: 1000px;
        max-height:none;
        width: 100%;
    }

    .tela{
      
       width: calc(90% - 100px);
        margin: 15px auto;
        
       
    }

    .controles{
        width: calc(90% - 100px);
        margin: 10px auto;
    }
}


@media (max-width:770px){
    

    .urna-container{
        height: 1000px;
        width: 100%;
        margin: auto;

    }
    
    .controles{
        width: 100%;
    }
    .tela{
        
        width: 100%;
    }

    .voto{
        width: 100%;
    }

    .container_blocos_numero_voto .bloco{
        width: 40px;
        height: 50px;
    }
}


@media (max-width:570px){
    
    
    .cards{
        margin-top: 30px;
    }
    .botao{
        padding: 18px 20px;
    }

    .botoes_especiais{
        width: 100%;
       display: flex;
       justify-content: center;
      
    }
    .botoes_especiais div{
        padding: 10px 8px;
    }

    .informacoes_escolhido{
        flex-direction: column;
        justify-content: center;
    }
    .informacoes_escolhido .img{
        margin-bottom: 200px;
        flex: 1;
    }  
    

    .container_blocos_numero_voto{
        
        width:70%;
        
    }
    .tela{
        
        height: 800px;
        max-height: none;
        
    }

    .urna-container{
        height: 1300px;
    }
}

@media (max-width:410px){
    
    
    
    .botao{
        padding: 18px 20px;
    }
    .botoes{
        padding: 10px;
    }

    .botoes_especiais{
        width: 100%;
       display: flex;
       justify-content: center;
    }
    .botoes_especiais div{
        padding: 10px 8px;
    }

    .container_blocos_numero_voto{
        flex-wrap: wrap;
    }

    .botoes_especiais div{
        font-size: 13px;
    }

    .urna-container{
        height: 1500px;
    }
}

